extends layout
block content
	section.paper
		.right-side
			.hangman-drawing
				canvas(id="hangmandrawing" width="200" height="200")
			.tryingchars
				//- .char(ng-repeat="try in tryingChars track by $index")
				//- 	span(ng-if="try==='space'")  &nbsp;
				//- 	span(ng-if="try!=='space'") {{try}}
				.char(ng-repeat="char in wordDefination.word track by $index")
					span.chary {{tryingChars[$index]}}
					br
					span.chary _
				.defination
					| - {{wordDefination.hint}}
		.left-side
			.keyboards
				.key(ng-repeat="key in keys track by $index" ng-click="tryThisChar(key,$index)" ng-class="{keydisabled:keyStatus[$index]}")
					| {{key}}
