.container{
	margin : 5%;
}

.left-side{
	margin-left: 0%;
}

.left-side{
	margin-left: 75%;
}



.key{
	float: left;
	border-radius: 5px;
	padding: 7px;
	background-color: grey;
	margin : 3px;
	cursor:  pointer;
	width : 15px;
	height: 15px;

}

.key:hover{
	background-color: lightgrey;
}

.tryingchars{
	position: absolute;
	top : 50%;
	left: 25%;
	letter-spacing: 7px;
	font-size: 50px;
}

.dummychars{
	position: absolute;
	top: 55%;
	left: 25%;
	font-size: 50px;
	letter-spacing: 7px;
}

.keydisabled{
	background-color: lightgrey !important;
}

.char{
	float: left;
}